<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3">
          <form method="post" enctype="multipart/form-data" action="/admin/blog/create?_csrf=<%= csrfToken %>">
            <div class="row mb-3">
              <label for="baslik" class="col-sm-2 col-form-label">Baslik</label>
              <div class="col-sm-8">
                <input
                  name="baslik"
                  type="text"
                  class="form-control"
                  id="baslik"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="baslik" class="col-sm-2 col-form-label"
                >Açıklama</label
              >
              <div class="col-sm-8">
                <textarea
                  type="text"
                  name="aciklama"
                  rows="10"
                  class="form-control"
                  id="editor"
                ></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="altbaslik" class="col-sm-2 col-form-label"
                >Altbaslik</label
              >
              <div class="col-sm-8">
                <textarea
                  type="text"
                  name="altbaslik"
                  rows="5"
                  class="form-control"
                ></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="resim" class="col-sm-2 col-form-label">Resim</label>
              <div class="col-sm-8">
                <input
                  type="file"
                  name="resim"
                  id="resim"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-8 offset-sm-2">
                <div class="form-check">
                  <input
                    type="checkbox"
                    name="anasayfa"
                    class="form-check-input"
                    id="anasayfa"
                  />
                  <label for="anasayfa" class="form-check-label">
                    Anasayfa
                  </label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-8 offset-sm-2">
                <div class="form-check">
                  <input type="checkbox" name="onay" class="form-check-input" id="onay" />
                  <label for="onay" class="form-check-label"> Onay </label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-8 offset-sm-2">
                <button type="submit" class="btn btn-primary">Kaydet</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.0/classic/ckeditor.js"></script>
    <script>
      ClassicEditor.create(document.querySelector("#editor"))
        .then((editor) => {
          console.log(editor);
        })
        .catch((error) => {
          console.error(error);
        });
    </script>
  </body>
</html>
