<nav>
    <ul class="pagination justify-content-center">
      <a href="" class="page-link active">Geri</a>
      <a href="" class="page-link">1</a>
      <a href="" class="page-link">2</a>
      <a href="" class="page-link">3</a>
      <a href="" class="page-link">İleri</a>
    </ul>
  </nav>